@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lora:ital,wght@0,400;0,600;0,700;1,700&family=Playfair+Display:ital,wght@1,400;1,500&family=Source+Code+Pro:wght@300&display=swap');

.hero {
	padding: 0 1rem;
}

.hero .container {
	margin-block-start: var(--section-mt);
	display: grid;
	place-items: center;
	gap: 5rem;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	
}

.hero-intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}

.name {
    display: inline-block;
	font-size: clamp(4rem, 5vw, 6rem);
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.intro {
	color: var(--other-clr);
	font-family:  "Georgia", serif;
	font-size: 2rem;
}

.hero img {
	max-width: 375px;
	
}

.hero .code {
	filter: drop-shadow(0 0 0.75rem var(--secondary-clr));
}

.hero-btn-container {
	display: flex;
	
}

.hire-btn {
	text-transform: uppercase;
	letter-spacing: 1px;
	display: inline-block;
	border: 1px solid var(--accent-clr);
	color: var(--accent-clr);
	transition: all 300ms cubic-bezier(0.25, 0.32, 0.85, 0.58);
	z-index: 1;
	position: relative;
	font-size: inherit;
	overflow: hidden;
}

.hire-btn::before {
	content: '';
	z-index: -1;
	position: absolute;
	top: 100%;
	right: 100%;
	width: 2rem;
	height: 1em;
	border-radius: 50%;
	background-color: var(--accent-clr);
	transform-origin: center;
	transform: translate3d(50%, -50%, 0) scale3d(0, 0, 0);
	transition: transform 0.45s ease-in-out;
}

.hire-btn:hover {
	cursor: pointer;
	color: hsl(0, 0%, 9%);
	border: 0;
}

.hire-btn:hover::before {
	transform: translate3d(50%, -50%, 0) scale3d(15, 15, 15);
}

.download-link {
	color: var(--other-clr);
	transition: color 0.45s ease-in-out;
}

.download-link:hover {
	color: #fff;
}

.download-link:focus {
	outline: none;
}

.name {
    display: inline-block;
    font-size: clamp(4rem, 5vw, 6rem);
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    position: relative;
    overflow: hidden;
}

.name::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px; /* Adjust as needed for the desired thickness of the sliding line */
    background-color: var(--accent-clr); /* Change to your preferred color */
    z-index: -1;
    transition: transform 0.3s ease-in-out;
    transform: scaleX(0) scaleY(0);  /* Initially, make the line invisible */
    transform-origin: right;
}

.name:hover::before {
    cursor: pointer;
    transform: scaleX(1) scaleY(1); /* Expand the line to the right on hover */
    transform-origin: left;
}
  
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.code {
    animation: pulse 2s ease-in-out infinite; /* Apply the pulsating animation to the image */
    /* Other styles for the image */
}

.hero-text .subtitle
{
	text-align: start;
}

@media screen and (max-width: 50em) {
    .hero .container {
        height: auto;
        text-align: center;
        position: relative;
		gap: 1 rem;
    }
    
	
	

	.hero-text .subtitle
{
	text-align: center;
}
}

@media screen and (max-width: 690px) {

	.hero .container {
        height: auto;
        
    }
	.hero img
	{
		height: 300px;
	}
	
}