@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lora:ital,wght@0,400;0,600;0,700;1,700&family=Playfair+Display:ital,wght@1,400;1,500&family=Source+Code+Pro:wght@300&display=swap');

.experience_section
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-block-start: var(--section-mt);
    gap: 5rem;
   
    
}
@keyframes shine {
    0% {background-position: -100%;}
    100% {background-position: 100%;}
  }
  
.work_container
{
    width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding:10px;
    background-color: var(--secondary-clr);
    border: 2px solid var(--accent-clr);
    border-radius: 20px;
    height: auto;
    box-shadow: inset 0px 5px 10px 0px rgba(0,255,255,0.7);
    animation: wiggle 2s linear;
    
    
}

.work_container:hover{
    transform: translateY(5px);
    box-shadow: inset 0px 10px 20px 2px rgba(0,255,255,0.7);
  }

.work_position,.work_date
{
    background-image: linear-gradient(
    -225deg,
    #67ee89 0%,
    #f5d56d 29%,
    #f4759f 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;

}

.work_position, .work_location, .work_date
{
    font-size: 2rem;
    font-weight: 600;
    margin-top: 5px;

    
}

.work_position
{
    text-transform: uppercase;
}

.work_location
{
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/6963bbf342d87b3a2150bd8f59682b89.jpg);
   -webkit-background-clip: text;
  background-size: contain;
  animation: shine 1s infinite;
  text-align: center;
  color: transparent;
}
@keyframes textclip {
    to {
      background-position: 200% center;
    }
  }


.work_info
{
   display: grid;
   grid-template-columns: 1fr 1fr;
   place-items: center;
  
   border-radius: 20px;
    
}




.work_achievements
{
   
    display: flex;
    flex-direction: column;
    line-height: 2.5rem;
    gap: 2rem;
    padding: 10px;
    margin-bottom: 5px;
   
   
}

.work_achievements_list
{
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Dancing Script', cursive;
    font-weight: 500;

}

@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }

  @media screen and (max-width: 50em) {

    .work_position, .work_location, .work_date
    {
    font-size: 1.5rem;
    
  }
  .work_achievements_list
{
    
    font-size: 2 rem;
}



  }

span
{
  color:var(--accent-clr);
}

  @media screen and (max-width: 450px) {
    .work_position, .work_location, .work_date
    {
    font-size: 1.1rem;
    
  }
  .work_achievements_list
{
    
    font-size: 1.8rem;
}
  }